@page "/adminpanel"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@attribute [Authorize(Policy = "AdminOnly")]
@inject IBookService BookService
@inject NavigationManager NavigationManager

    <h3>AdminPanel</h3>
    <div>
        <button @onclick="@(() => SwitchComponent("books"))">Books</button>
    </div>
    @switch (@CurrentComponent)
    {
    case "books":
            <Books/>
        break;
    default: break;
    }
   

@code {
    public string CurrentComponent {get;set;} = "books";
    public void SwitchComponent(string component)
    {
        CurrentComponent = component;
    }
}
