@page "/books"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@attribute [Authorize(Policy = "AdminOnly")]
@inject IBookService BookService
@inject NavigationManager NavigationManager
<h3>Books</h3>
<div>
    @if (books == null)
    {
        <span>Loading...</span>
    }
    else if (books.Count == 0)
    {
        <span>No books found.</span>
    }
    else
    {
        <table>


            @foreach (var book in books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Genre</td>
                </tr>

            }
        </table>
    }
    <button @onclick="CreateBook">Create book</button>

</div>

@code {
    List<Book>? books = null;
    protected override async Task OnInitializedAsync()
    {
        books = await BookService.GetAllBooks();
    }
    private void CreateBook(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/edit-book/");
    }
}
