@page "/adminpanel"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@attribute [Authorize(Policy = "AdminOnly")]

@inject NavigationManager NavigationManager

    <h3>AdminPanel</h3>
    <div>
    <button class="btn btn-outline-primary" @onclick="@(() => SwitchComponent("books"))">Books</button>
    <button class="btn btn-outline-primary" @onclick="@(() => SwitchComponent("genres"))">Genres</button>
    </div>
    @switch (@CurrentComponent)
    {
    case "books":
            <Books/>
        break;
    case "genres":
            <Genres/>
        break;
    default: break;
    }
   

@code {
    public string CurrentComponent {get;set;} = "books";
    public void SwitchComponent(string component)
    {
        CurrentComponent = component;
    }
}
