@page "/authors"
@using BlazorServer.Model
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "AdminOnly")]
@rendermode InteractiveServer
@inject IEntityService<Author> AuthorService
<div class="container mt-2">
    <div class="row">
        <div class="col-12 mb-3">
            <button class="btn btn-primary">Create Author</button>
        </div>
        <div class="col-12">
            <h3 class="mt-3">Authors</h3>
        </div>
    </div>
    @if (AuthorList.Count > 0)
    {
        <div class="row">
            @foreach (var author in AuthorList)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">@author.Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">ID: @author.AuthorID</h6>
                            <p class="card-text">
                                <strong>Nationality:</strong> @author.Nationality<br />
                                <strong>Bio:</strong> @author.Bio
                            </p>
                            <div class="d-flex justify-content-start">
                                <button class="btn btn-primary me-2">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                <label>No authors found.</label>
            </div>
        </div>
    }
</div>
@code {
    public List<Author> AuthorList { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        AuthorList = await AuthorService.GetAll();
    }
}

