@page "/edit-book"
@page "/edit-book/{id:int}"
@using Microsoft.AspNetCore.Authorization
@using BlazorServer.Model
@attribute [Authorize(Policy = "AdminOnly")]

@inject IEntityService<Book> BookService
@inject IEntityService<Author> AuthorService
@inject IEntityService<Genre> GenreService


<div class="row col-md-6 offset-3">
    <h3>Add Book</h3>
<EditForm Model="@book" OnSubmit="HandleSubmit" FormName="editBook">
    <div class="row">
            <label>Title</label>
            <InputText @bind-Value="book.Title"></InputText>
    </div>
  
    <div class="row">
            <label>Author</label>
            <InputText @bind-Value="author.Name"></InputText>
    </div>
    
    <div class="row">
            <label>ISBN</label>
            <InputText @bind-Value="book.ISBN"></InputText>
    </div>
    
    <div class="row">
            <label>Genre</label>
           
                @if(Genres.Count > 0)
                {
                <InputSelect @bind-Value="@Genres">
                    @foreach (var genre in Genres)
                    {
                        <option value="@genre.GenreID">@genre.Name</option>
                    }
                </InputSelect>
                }
                else
                {
                    <label>No genres found.</label>
                }
            
    </div>
   
    <div class="row">
            <label>Publisher</label>
            <InputText @bind-Value="publisher.Name"></InputText>
    </div>
    
    <div class="row">
            <label>Publish Date</label>
            <InputDate @bind-Value="book.PublishDate"></InputDate>
    </div>

    <div class="row">
            <label>Quantity Available</label>
            <InputNumber @bind-Value="book.QuantityAvailable"></InputNumber>
    </div>

   <div class="row">
            <label>Description</label>
            <InputText @bind-Value="book.Description"></InputText>
   </div>

    <div class="row mt-3 ">

            <button class="btn btn-primary " type="submit">Save</button>
    </div>

</EditForm>
</div>
@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Book book { get; set; } = new();

    [SupplyParameterFromForm]
    public Author author { get; set; } = new();

    [SupplyParameterFromForm]
    public Genre genre { get; set; } = new();

    [SupplyParameterFromForm]
    public Publisher publisher { get; set; } = new();

    public List<Genre> Genres { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Genres = await GenreService.GetAll();
    }
    async Task HandleSubmit()
    {
        await BookService.Add(book);
    }
}
