@inject IEntityService<Book> BookService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
<button class="btn btn-danger" @onclick="() =>Remove()"><i class="bi bi-trash"/></button>

@code {
    [Parameter]
    public int Id { get; set; } 

    private async Task Remove()
    {
        try
        {
            if (Id > 0)
            {
                bool isConfirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete?");
                if (isConfirmed)
                {
                    await BookService.Remove(Id);
                    NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
                }
                
            }
          
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error removing book: {ex.Message}");
        }
    }
}
