@page "/edit-genre"
@page "/edit-genre/{id:int}"
@using Microsoft.AspNetCore.Authorization
@using BlazorServer.Model
@using BlazorServer.Components.Pages.AdminPanel.Buttons
@rendermode InteractiveServer
@attribute [Authorize(Policy = "AdminOnly")]
@inject IEntityService<Genre> GenreService
@inject NavigationManager NavigationManager

<div class="row col-md-6 offset-3">
    <GoBackButton/>
    <h3>EditGenre</h3>
    <EditForm Model="@newGenre" OnSubmit="HandleSubmit" FormName="editGenre">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" @bind="newGenre.Name" required />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>


</div>
@code {
    [Parameter]
    public int Id { get; set; }

    private Genre newGenre = new();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            newGenre = await GenreService.GetById(Id) ?? new(); 
        }

    }
    public async Task HandleSubmit()
    {
        if (Id <= 0)
            await GenreService.Add(newGenre);
        else
            await GenreService.EditById(Id, newGenre);
        NavigationManager.NavigateTo("/adminpanel");
    }
}
